<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a la Gestión de Cabañas</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('cabanas.lista_cabanas') }}">Cabañas</a></li>
        </ul>
    </nav>
    <main>
        <p>Este es el sistema de gestión de cabañas.</p>
    </main>
    <footer>
        <p>© 2024 - Sistema de Gestión de Cabañassss</p>
    </footer>
</body>
</html>
